name: Docs
on:
  push:
  workflow_dispatch:

permissions:
    contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # we want to find git tags to pass version to sphinx
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install sphinx sphinx_rtd_theme sphinx-automodapi .[dev]
      - name: Sphinx build
        run: |
          cd doc ; make clean ; make html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.event_name == 'push' && contains(github.ref, 'refs/tags/') }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/_build/html
          force_orphan: true
